.card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.cardContent {
  font-size: 16px;
}

.loader {
  margin-top: 20px;
  font-size: 18px;
}

.error {
  margin-top: 20px;
  color: red;
  font-size: 18px;
}
